<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h1>Login</h1>

            <div th:if="${param.error}">
                <h1>
                    email 또는 비밀번호를 확인해주세요
                </h1>
            </div>

            <form class="row g-3" action="/members/login" method="post">

                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="이메일을 입력해주세요" riquid>
                </div>

                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요">
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">login</button>
                    <button type="submit" class="btn btn-primary">회원가입</button>
                </div>
            </form>

        </div>

    </div>
    <script th:inline="javascript">
        let errorMsg = [[${param.error}]]
        if (errorMsg){
            alert("이메일 또는 비밀번호를 확인해주세요")
        }
    </script>
</th:block>

</body>
</html>